/*
Project: Real Bank
Description: Unified CSS styling for forms
Date: 9 February 2026
*/

/* Currency input */

/* Use for forms/reports, whatever goes in the Content section */

/* body
{
	margin:0px;
	background-color: grey;
	font-family: sans-serif;
	color: #264769;
} 
*/

.contentContainer
{
	background-color: lightblue;
	/* flex: 60%; */
	padding: 10px;
}

form 
{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}


.displaySelected
{
 	background-color: lightblue;
	flex: 60%;
	padding: 10px;
}

form h2
{
	text-align: left; /* put in the vertical middle of the form */
	color: #224b70;
}

label 
{
	display: block;
	margin-bottom: 5px;
}

.formRow  
{
  	display: flex;
	flex-direction: row;
}

.formColumn
{
	margin-bottom:15px; /* Vertical spacing between form elements*/
	padding: 5px;
	
	width: 25%;
}

.formColumnLong
{
	margin-bottom:15px; /* Vertical spacing between form elements*/
	padding: 5px;
	
	width: 60%;
}




.formColumn input 
{
	/* dimensions of the input boxes */
	width: 100%;
  	padding: 12px;
 	/* margin: 8px 0; */
	height:40px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box; /* Include padding & border in total width/height*/
}

.formColumnLong input
{
	/* dimensions of the input boxes */
	width: 100%;
  	padding: 12px;
 	/* margin: 8px 0; */
	height:35px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-sizing: border-box; /* Include padding & border in toal width/height*/
}

input[type=submit] /* Submit buttons*/
{
  width: 100%;
  background-color:  #496a87;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  /* size of text inside button */
  font-size: 1em;
}

input[type=submit]:hover  /* Submit buttons when hovered*/
{
  	background-color: #3e5a73;
}



