/* Top navbar style */
.navbar {
    background-color: rgb(48, 80, 112);
    height: 80px;
    display: flex;
}
 
/* Navbar links style*/
.navbar a {
    text-decoration: none;
    color: white;
} 

/* navbar hover style */
.navbar a:hover {
    color: rgb(224, 181, 143);
}

/* Main body style */
body {
    background-color: rgb(245, 240, 233);
    margin: 0;  /* Remove default margin to allow the navbar to sit perfectly in the top left corner and the sidebar to be positioned to the left */
}

/* Dropdown Button */
.dropbutton {
    background-color: rgb(48, 80, 112);
    width: 160px;
    height: 80px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 160px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(48, 80, 112);
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 160px;
}

/* Show active link in navbar */
a.topActive {
    color: rgb(224, 181, 143);
    
}

.dropbutton.topActive {
    background-color: rgb(17, 34, 80);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(17, 34, 80);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbutton {
    background-color: rgb(17, 34, 80);
}

/* Sidebar style */
.sidebar {
    height: 100%;
    width: 250px;
    background-color: rgb(17, 34, 80);
    display: flex;
    flex-direction: column;
}

/* sidebar links style */
.sidebar a {
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    height: 60px;
    font-size: 18px;
} 

/* sidebar hover style */
.sidebar a:hover {
    color: rgb(224, 181, 143);
    background-color: rgb(48, 80, 112);
}

/* Show active link in sidebar */
.sidebar a.active {
    color: rgb(224, 181, 143);
}

h1 {
    color: white;
    font-size: 22px;
    padding: 20px 40px;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    border-style: solid;
}

.logo {
    padding-right: 170px;
    width: 80px;
    height: 80px;
}