.navbar {
    margin-left: -8px;
    margin-top: -8px;
    width: 100%;
    height: 30px;
    background-color: rgb(48, 80, 112);
    padding: 20px;
    display: block;
}
 
.navbar a {
    color: white;
    text-decoration: none;
    padding: 20px;
} 

.navbar a:hover {
    background-color: rgb(17, 34, 80);
    color: rgb(224, 181, 143);
}

.active {
    color: rgb(224, 181, 143);
}

body {
    background-color: rgb(245, 240, 233);
}

.logo {
    width: 60px;
    height: 30px;
}

.navtext {
    text-indent: 100px;
}