/* Top navbar style */
.navbar {
    background-color: rgb(48, 80, 112);
    height: 80px;
    display: flex;
}
 
/* Navbar links style*/
.navbar a {
    text-decoration: none;
    color: white;
} 

/* navbar hover style */
.navbar a:hover {
    color: rgb(224, 181, 143);
}

/* Main body style */
body {
    background-color: rgb(245, 240, 233);
    margin: 0;  /* Remove default margin to allow the navbar to sit perfectly in the top left corner and the sidebar to be positioned to the left */
}

/* Dropdown Button */
.dropbutton {
    background-color: rgb(48, 80, 112);
    width: 160px;
    height: 80px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* Needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 160px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(48, 80, 112);
    min-width: 160px;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 160px;
}

/* Show active link in navbar */
a.topActive {
    color: rgb(224, 181, 143);
    
}

.dropbutton.topActive {
    background-color: rgb(17, 34, 80);
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: rgb(17, 34, 80);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbutton {
    background-color: rgb(17, 34, 80);
}

/* h1 style to create a black label with an underline */
/* Borders were used to create this effect */
/* Text decoration would fill the entire screen so we opted for borders */
h1 {
    color: black;
    font-size: 22px;
    padding: 20px 40px;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
}

/* resize the logo to fit into the nav bar top left corner */
.logo {
    width: 80px;
    height: 80px;
}

/* this is the main body of the screen under the nav bar */
/* nav bar height taken into account for scroll bars */
.displaySelected
{
	padding: 40px;
    /* calc is used to make the height of the div fill the remaining space below the navbar */
    /* This removes the scroll bar that would appear if the height of the div was set to 100% */
    height: calc(100% - 80px);
}

/* give anything with h2 label a nice colour to match the colour of the page */
h2
{
	text-align: left; /* put in the vertical middle of the form */
	color: navy;
}

/* code snip */
label 
{
	display: block;
	margin-bottom: 5px;	
}

/* form row is used to create a div that can hold two inputs and place them side by side to conserve space */
.form-row 
{
  	display: flex;
	flex-direction: row;
}

/* Styling for the form group div */
/* Increase the label font size for the text boxes inside this div */
.form-group 
{
	padding: 5px;
    font-size: 22px;
}

/* input box styling within the form group div */
.form-group input 
{
  	width: 500px;
    height: 50px;
    font-size: 20px;
}

/* Any submit buttons styling to match the style of our pages */
.customerButton
{
    height: 40px;
    width: 200px;
    background-color: rgb(48, 80, 112);
    color: white;
    font-size: 15px;
    border: none;
}

/* The button that is least likely to be pressed styling to make a difference of importance */
.myButton
{
	height:40px; /* How tall button is */
    width: 200px; /* How wide button is */
	/* Adding space between the buttons without changing vertical margins */
	margin-left: 10px;
	margin-right: 10px;
	/* Color effects and font size for buttons */
	background-color: aliceblue;
	font-size: 15px;
}

/* Style to make the select boxes match the input boxes */
.selectBox
{
    width: 500px;
    height: 50px;
    font-size: 20px;
}

/* This is used to hide any text that we want to reveal using JS */
.hideText
{
    visibility: hidden;
}

/* Styling for under construction signage */
.underconstruction
{
    position: absolute;
	left: 0;
	right:0;
    text-align: center;
    color: rgb(17, 34, 80);
}

/* Style the text and move it closer to the image */
.underconstructionText
{
    position: relative;
    top: -150px;
    font-size: 30px;
    font-weight: bold;
}

/* Customer information styling block that creates a text box like look for customer details 
    to be displayed on */
.customerInfo
{
    background-color: white;
    border: 2px black solid;
    border-radius: 5px;
    padding: 5px;
    width: 490px;
    height: 250px;
    font-size: 20px;
    white-space: pre-wrap; /* newlines (\n) in text content */
}

/* Styling for the tables used to display reports */
.accountReport
{
    border: 2px solid black;
    padding: 5px;
    margin-right: 65%;
}

/* Underline the table headers and add a border to make them stand out */
.reportTable th
{
    border-bottom: 2px solid black;
    padding: 5px;
}

/* Styling for the headings used in the reports */
.reportHeadings
{
    font-size: 16px;
    color: navy;
}

/* A red button suitable for delete operations */
.dangerButton
{
    height: 40px;
    width: 140px;
    background-color: rgb(163, 31, 31);
    color: white;
    font-size: 15px;
    border: none;
}